home/.config/zed/prompts/
home/.config/zed/conversations/
home/.config/nushell/history.txt
home/.config/tmux/plugins/
home/.pi/agent/auth.json
home/.pi/agent/sessions/
.DS_Store
node_modules
.opencode/plans/
/home/.pi/agent/mcp-cache.json
